<!-- -->
<launch>
  <!-- launch a complete carla-ros-environment with an ad agent that steers the ego-vehicle -->

  <!-- carla parameter -->
  <arg name='host' default='localhost'/> <!-- host the carla server is running on -->
  <arg name='port' default='2000'/> <!-- port of the carla server -->
  <arg name="town" default="Town01"/> <!-- the carla town to load-->
  <arg name='timeout' default='10'/> <!-- the carla timeout for server communication -->
  <arg name='passive' default='False'/> <!-- enable/disable passive mode -->
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default='False'/><!-- should the ros bridge wait for a vehicle control command before proceeding with the next tick -->
  <arg name='fixed_delta_seconds' default='0.05'/><!-- frequency of the carla ticks -->

  <!-- spectator camera parameter -->
  <arg name="role_name" default="ego_vehicle"/> <!-- role name of the ego vehicle (used for identification in many nodes) -->
  <arg name='spawn_point' default='127.4,-195.4,2,0,0,180'/> <!-- fixed spawn point, set to "" for a random spawn point -->
  <arg name="target_speed" default="8.33"/> <!-- target speed in m/s that the agent tries to follow -->
  <arg name="avoid_risk" default="True"/> <!-- should the agent avoid crashs and respect red traffic lights? -->

  <!-- ===================================================== -->
  
  <!-- The ros bridge -->
  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='timeout' value='$(arg timeout)'/>
    <arg name='passive' value='$(arg passive)'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
  </include>
  
  <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects.launch">
    <arg name="objects_definition_file" value='$(find carla_spawn_objects)/config/objects_2.json'/>
    <arg name="spawn_point_ego_vehicle" default=""/>
    <arg name="spawn_sensors_only" default="false"/>
  </include>

  <!-- =========================== 1 ========================== -->

  <!-- Publish the target speed -->
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub /carla/ego_vehicle/target_speed std_msgs/Float64 $(arg target_speed)"/>

  <!-- The agent to control the ego vehicle -->
  <include file="$(find carla_ad_agent)/launch/carla_ad_agent.launch">
    <arg name="role_name" value="ego_vehicle" />
    <arg name="avoid_risk" value="$(arg avoid_risk)" />
  </include>

  <!-- Provide a route and access to the CARLA waypoint API (required by carla_ad_agent) -->
  <include file="$(find carla_waypoint_publisher)/launch/carla_waypoint_publisher.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='timeout' value='$(arg timeout)'/>
    <arg name='role_name' value='ego_vehicle'/>
  </include>
  
  <!-- Provide control over initial position -->
  <include file="$(find carla_spawn_objects)/launch/set_initial_pose.launch">
    <param name='control_id' value='$(arg control_id)'/>
  </include>
  
  <!-- Rviz visualization-->
  <node pkg="rviz" type="rviz" name="rviz_ego" args="-d $(find carla_ad_cooperative)/config/carla_ad_cooperative.rviz" required="true" output="screen">
    <remap from="carla/ego_vehicle/spectator_pose" to="/carla/ego_vehicle/rgb_view/control/set_transform"/>
  </node>
  
  <!-- ============================ 2 ========================= -->

  <!-- Publish the target speed -->
  <node pkg="rostopic" type="rostopic" name="rostopic_hero" args="pub /carla/hero/target_speed std_msgs/Float64 $(arg target_speed)"/>

  <!-- The agent to control the ego vehicle -->
  <include file="$(find carla_ad_agent)/launch/carla_ad_agent_hero.launch">
    <arg name="role_name" value="hero" />
    <arg name="avoid_risk" value="$(arg avoid_risk)" />
  </include>

  <!-- Provide a route and access to the CARLA waypoint API (required by carla_ad_agent) -->
  <include file="$(find carla_waypoint_publisher)/launch/carla_waypoint_publisher_hero.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='timeout' value='$(arg timeout)'/>
    <arg name='role_name' value='hero'/>
  </include>
  
  <!-- Provide control over initial position -->
  <include file="$(find carla_spawn_objects)/launch/set_initial_pose_hero.launch">
    <param name='control_id' value='control_hero'/>
  </include>
  
  <!-- Rviz visualization-->
  <node pkg="rviz" type="rviz" name="rviz_hero" args="-d $(find carla_ad_cooperative)/config/carla_ad_cooperative_hero.rviz" required="true" output="screen">
    <remap from="carla/hero/spectator_pose" to="/carla/hero/rgb_view/control/set_transform"/>
  </node>
  
</launch>
