<!-- -->
<launch>
  <!-- carla parameter -->
  <arg name='host' default='localhost'/> <!-- host the carla server is running on -->
  <arg name='port' default='2000'/> <!-- port of the carla server -->
  <arg name="town" default="Town01"/> <!-- the carla town to load-->
  <arg name='timeout' default='10'/> <!-- the carla timeout for server communication -->
  <arg name='passive' default='False'/> <!-- enable/disable passive mode -->
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default='False'/><!-- should the ros bridge wait for a vehicle control command before proceeding with the next tick -->
  <arg name='fixed_delta_seconds' default='0.05'/><!-- frequency of the carla ticks -->

  <!-- ===================================================== -->

  <!-- The ros bridge -->
  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='timeout' value='$(arg timeout)'/>
    <arg name='passive' value='$(arg passive)'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
  </include>
  
  <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects.launch">
    <arg name="objects_definition_file" value='$(find carla_spawn_objects)/config/objects.json'/>
    <arg name="spawn_point_ego_vehicle" default=""/>
    <arg name="spawn_sensors_only" default="false"/>
  </include>
  
<!-- ========================== VEHICULE 1 ======================= -->

  <!-- Manual control -->
  <!-- Visualize the ego vehicle (and support overriding the control) -->
  <include file="$(find carla_manual_control)/launch/carla_manual_control.launch">
    <arg name='role_name' value='ego_vehicle'/>
  </include>
  
  <!-- Rviz visualization-->
  <node pkg="rviz" type="rviz" name="rviz_ego" args="-d $(find carla_ad_cooperative)/config/carla_ad_cooperative.rviz" required="true" output="screen">
    <remap from="carla/ego_vehicle/spectator_pose" to="/carla/ego_vehicle/rgb_view/control/set_transform"/>
  </node>
  
<!-- ========================== VEHICULE 2 ======================= -->
  
  <!-- Manual control -->
  <!-- Visualize the ego vehicle (and support overriding the control) -->
  <include file="$(find carla_manual_control)/launch/carla_manual_control_hero.launch">
    <arg name='role_name' value='hero'/>
  </include>

  <!-- Rviz visualization-->
  <node pkg="rviz" type="rviz" name="rviz_hero" args="-d $(find carla_ad_cooperative)/config/carla_ad_cooperative_hero.rviz" required="true" output="screen">
    <remap from="carla/hero/spectator_pose" to="/carla/hero/rgb_view/control/set_transform"/>
  </node>
  
<!-- ========================== VEHICULE 3 ======================= -->
  
  <!-- Manual control -->
  <!-- Visualize the ego vehicle (and support overriding the control) -->
  <include file="$(find carla_manual_control)/launch/carla_manual_control_hero1.launch">
    <arg name='role_name' value='hero1'/>
  </include>

  <!-- Rviz visualization-->
  <node pkg="rviz" type="rviz" name="rviz_hero1" args="-d $(find carla_ad_cooperative)/config/carla_ad_cooperative_hero1.rviz" required="true" output="screen">
    <remap from="carla/hero1/spectator_pose" to="/carla/hero1/rgb_view/control/set_transform"/>
  </node>
  

</launch>
